<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
	<!-- Enable features -->
	<featureManager>
<!-- Begin <feature>microProfile-2.0</feature> -->
    <feature>cdi-2.0</feature>
    <feature>jaxrs-2.1</feature>
    <feature>jaxrsClient-2.1</feature>
    <feature>jsonb-1.0</feature>
    <feature>jsonp-1.1</feature>
    <feature>mpConfig-1.3</feature>
    <feature>mpFaultTolerance-1.1</feature>
    <feature>mpHealth-1.0</feature>
    <feature>mpJwt-1.1</feature>
    <feature>mpMetrics-1.1</feature>
    <feature>mpOpenAPI-1.0</feature>
    <!--<feature>mpOpenTracing-1.1</feature>-->
    <feature>mpRestClient-1.1</feature>
    <feature>servlet-4.0</feature>
<!-- End -->

    <feature>mpOpenTracing-1.2</feature>
    
		<feature>usr:opentracingZipkin-0.31</feature>
		<feature>jndi-1.0</feature>
		<feature>jsp-2.3</feature>
		<feature>servlet-4.0</feature>
		<feature>managedBeans-1.0</feature>
		<feature>websocket-1.1</feature>
	</featureManager>

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint id="defaultHttpEndpoint" host="*"
		httpPort="9080" httpsPort="9443">
	</httpEndpoint>

	<quickStartSecurity userName="${env.USERNAME}"
		userPassword="${env.PASSWORD}" />

	<opentracingZipkin />

	<webApplication name="acmeair-bookingservice"
		location="acmeair-bookingservice-java-2.0.0-SNAPSHOT.war"
		contextRoot="/" >
    <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party"/>
  </webApplication>
	<cdi12 enableImplicitBeanArchives="false" />
</server>
